<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jun.clover">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.jun.clover.dependency.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <receiver
            android:name="com.jun.clover.lockscreen.RestartReceiver"
            android:enabled="true"
            android:exported="true"></receiver>

        <activity android:name="com.jun.clover.activity.LockScreenActivity" />
        <activity android:name="com.jun.clover.activity.BaseActivity" />
        <activity android:name="com.jun.clover.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.jun.clover.lockscreen.LockScreenService" />
        <receiver android:name="com.jun.clover.lockscreen.LockScreenReceiver" />
        <service android:name="com.jun.clover.firebase.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <receiver android:name="com.jun.clover.firebase.MyFirebaseMessagingReceiver" >
            <intent-filter>
                <action android:name="com.jun.clover.SEND_FIREBASE"/>
            </intent-filter>
        </receiver>

    </application>
</manifest>